html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}
svg
{
    height: 1rem;
    width: 1rem;
}

textarea
{
    resize: none;
    overflow: hidden;
    padding: .375rem .75rem .375rem 2.5rem !important;
}

template
{
    display: none;
}

#display 
{ 
    width: 100%;
    margin-top: 5px;
}

.container
{
    padding-bottom: 15px;
}

.tab-content,
.form-part,
#date-manual-tm span
{
    border: 1px solid #ced4da;
}

.tab-content
{
    padding: 0.5rem;
    padding-bottom: 0;
    border-top-width: 0;
}

.nav-link svg
{
    position: relative;
    left: -0.05rem;
    top: -0.08rem;
}

.tab-content,
.nav-link.active 
{ 
    background-color: #f9f9f9 !important;
}

.nav-link.active 
{ 
    border-bottom-color: #f9f9f9 !important; 
}

.form-part
{
    border-width: 0 0 1px 0;
    margin: 0;
    text-transform: uppercase;
    padding: 0.5rem 0;
    color: #6c757d;
}

.form-part label,
.spinner-inline
{
    margin: 0;
    padding: 0;
}

.form-part div.col-auto,
.no-padding
{
    padding: 0;
}

.tab-pane > .row,
.tab-pane .alert,
.tab-pane .accordion
{
    margin-bottom: 0.5rem;
}

.card-body
{
    padding: 1rem;
}

.tab-pane .alert
{
    padding: .45rem 0.9rem;
}

.form-break
{
    margin-bottom: 0 !important;
}

.list-group-item
{
    padding: 0.5rem 1rem;
}

.list-group div
{
    align-items: center;
}

button > .spinner-inline
{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    vertical-align: baseline;
}

.spinner-inline
{
    width: 1.5rem;
    height: 1.5rem;
}

.select-group-first
{
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.select-group-middle
{
    border-width: 1px 0;
}

.select-group-last
{
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.select-group-first,
.select-group-middle,
.select-group-last
{
    background: none;
    text-align-last: center;
    background-color: white;
    padding-right: 0.75rem;
}

.line-numbers
{
    margin: 1px 0;
    position: absolute;
    padding: .375rem .5rem;
}

.line-numbers div
{
    padding: 0 0.25rem;
}

.line-numbers div:after 
{
    content: ".";
}

.center-panel
{
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-panel > div
{
    margin: auto;
}

.loader 
{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.1rem solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader:before 
{
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    right: 0.2rem;
    bottom: 0.2rem;
    border-radius: 50%;
    border: 0.1rem solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after 
{
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    border-radius: 50%;
    border: 0.1rem solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% 
    {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin 
{
    0%   
    {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% 
    {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#date-manual-tm span
{
    padding: 0.375rem 0.5rem;
    border-width: 1px 0;
}

#date-manual-dt select
{
    width: auto;
}

.accordion button.list-group-item-action
{
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 0;
}

#tab-wifi a,
#wifi-sta-list .alert
{
    display: none;
    margin-top: 1rem;
}

#wifi-sta-list svg
{
    display: none;
    color: gray;
    margin-left: 0.35rem;
}

#wifi-sta-list .active svg
{
    color: white;
}

#wifi-sta-list .card
{
    display: none;
}

#wifi-sta-list .card-header span
{
    text-overflow: ellipsis;
    margin-right: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
}

#wifi-sta-list .card-header small
{
    white-space: nowrap;
}

#wifi-sta-list div.spinner-border
{
    display: none;
}

#wifi-sta-find
{
    border: 0;
    font-size: 0.8rem;
    padding: 0 0.35rem;
    margin: -0.3rem 0 0 0;
    position: relative;
    overflow: hidden;
}

#wifi-sta-find.focus,
#wifi-sta-find:focus 
{
    box-shadow: none;
}

#wifi-sta-find > div
{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    
    background-image: linear-gradient(45deg,rgba(255,255,255,.55) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.55) 50%,rgba(255,255,255,.55) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    
    -webkit-animation: progress-bar-stripes 0.3s linear infinite;
    animation: progress-bar-stripes 0.3s linear infinite;    
}

#wifi-sta-find > span
{
    text-transform: uppercase;
}

#overlay > div
{
    padding: 1rem;
    padding-bottom: 0;
}

#overlay > div > div:last-child
{
    padding-left: 1.5rem;
    position: relative;
    top: 0.1rem;
}

#overlay div.col-auto
{
    margin-bottom: 1rem;
}

#overlay svg
{
    width: 4rem;
    height: 4rem;
    display: none;
}

#overlay .text-danger,
#overlay.error .loader,
#overlay.error .text-info
{
    display: none;
}

#overlay.error svg,
#overlay.error .text-danger
{
    display: block;
}

#overlay .text-danger:after
{
    content: "!";
}

/* Medium */
@media (min-width: 768px)
{
    .container
    {
        max-width: 720px !important;
    }
    
    #display 
    {
        width: 700px;
    }
}


















